body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  overflow: hidden; /* Hides scrollbars */
  width: 100vw;
  height: 100vh;
}
a {
  color: white;
  font-size: 14px;
}
#main {
  width: 100%;
  height: 100%;
  position: relative;
}
#wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1100px;
  height: 680px;
  /* We remove manual margins and handle centering in JS/Transform */
  transform-origin: center center;
}
#text {
  width: 272px;
  height: 560px;
  left: 188px;
  top: 80px;
  position: absolute;
}
#code {
  display: none;
  color: rgb(196, 255, 255);
  font-size: 16px;
  margin-top: 70px;
  line-height: 25px;
  font-size: larger;
  font-weight: bolder;
}
.say {
  margin-left: 5px;
  text-shadow: 0 0 10px #ff005e, 0 0 20px #ff005e;
}
#clock-box {
  position: absolute;
  left: 60px;
  top: 550px;
  font-size: 28px;
  display: none;
}
#clock-box a {
  font-size: 28px;
  text-decoration: none;
}
#clock {
  margin-left: 48px;
  text-shadow: 0 0 5px #fff;
}
#clock .digit {
  font-size: 64px;
}
#canvas {
  margin: 0 auto;
  width: 1100px;
  height: 680px;
}
#error {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  display: none;
}
.hand {
  cursor: pointer;
}
.space {
  margin-right: 150px;
}
#message-box{
  position: absolute;
  margin-top: 450px;
  font-size: 25px;
  font-family: monospace;
}
#photos {
  display: none;
  position: absolute;
  top: 50px;
  left: 700px; 
  width: 300px;
  height: 400px;
  z-index: 100;
}
.photo-item {
  width: 200px;
  position: absolute;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}